body{
  font-family: 'Poppins', sans-serif;
  
}
.navigation-container{
  width: 1200px;
  margin: 0 auto;
  height: 70px;
  
}
.navigation-bar{
  background-color: #352d2f;
  height: 100px;
  width: 100%;
  
}
.logo{
  float:right;
  height: 200px;
  width: 250px;
}
.navigation-bar ul{
  text-align: center;
  padding: 0px;
  margin: 15px;
  
}
.navigation-bar li{
  list-style-type: none;
  display: inline;
  padding: 0px;
  position: relative;
  margin-bottom: 4px;
  height: 24px;
  
}
.navigation-bar li a{
  text-decoration: none;
  margin: 10px 25px;
  padding: 5px 15px;
  font-size: 25px;
  color: white;
  line-height: 100px;

}
.navigation-bar ul li{
  list-style: none;
    display: inline-block;
    padding: 8px 12px;
    position: relative;
    
}
.navigation-bar li a:hover{
  color: #2eaeeb;
}


.navigation-bar ul li::after{
  content: '';
  width: 0%;
  height: 2px;
  background: #e61708;
  
  display: block;
  margin: auto;
  transition: 0.5s;
  
}
.navigation-bar ul li:hover::after{
  width: 100%;
  padding: 3px;

}
.highlight{
  color:orange;
}
h1{
  font-size: 40px;
}
.container{
  margin-left: 5%;
}
section{
  display: flex;
  margin-bottom: 100px;
}
.half-width{
  width: 50%;
  padding-left:5%;
  padding-top:20px;
  margin-top:2% ;
}
.half-width img{
  width: 80%;
  height: 80%;
  margin-left:25%;
  
}
.half-width a{
  text-decoration: none;
  background-color: #FB6957;
  padding: 10px 40px;
  border-radius: 8px;
  background-image: linear-gradient(#F59B73,#FC6052);
  color: white;
  font-weight: 600;
}
.top-banner{
  background-image: url(/img/topbanner.png);
  background-repeat: no-repeat;
}
.my-destiny img{
  margin-left:0 ;
  width: 100%;
}
.my-destiny{
  background-image: url(/img/dreambg.png);
  background-repeat: no-repeat;
  background-position: right;
}
.half-width a:hover{
border-radius: 20px;
  font-size: 18px;
}
